<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.bpelunit.framework.client.eclipse.headerProcessor">
      <headerProcessor
            id="generic"
            name="Generic SOAP Header Processor"
            processorClass="net.bpelunit.framework.control.soap.genericsoapheaderprocessor.GenericSOAPHeaderProcessorTest">
      </headerProcessor>
   </extension>
</plugin>
